{% extends 'base.html' %}
{% block title %}Delete Address | My Address Book {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header">
                  <h5 class="text-center text-danger"><strong>Are you sure you want to delete this address?</strong></h5>
                </div>
                <div class="card-body">
                    <p><strong>First Name:</strong> {{address.first_name}}</p>
                    <p><strong>Last Name:</strong> {{address.last_name}}</p>
                    <p><strong>Email:</strong> {{address.email}}</p>
                    <p><strong>Phone Number:</strong> {{address.phone}}</p>
                    <p><strong>Address:</strong> {{address.address}}</p>
                    <div class="row">
                        <div class="col-md-3">
                            <a href="{% url 'home' %}" class="btn btn-primary"> Go Back</a>
                        </div>
                        <div class="col-md-4">
                            <form method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Delete Address</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}